name: Check Links
permissions:
  issues: write
on:
  workflow_dispatch:
  # Run daily
  schedule:
    - cron:  '0 0 * * *'
jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/linkbot
      with:
        glob: "content/security/docs/*.md"
        max_days_old: 730